input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-size: 28px;
  margin-top: 2%;
}

button {
  margin-top: 2%;
  margin-bottom: 2%;

  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 22px;
  background: white;

  cursor: pointer;

  margin-left: 2%;
}